* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: url("maths.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 20px;
}

.question-box {
  font-size: 26px;
  margin: 20px 0;
}

#answer {
  width: 80px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

#result {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  background: #4CAF50;
  color: white;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

#restartBtn {
  background: #f44336;
}
